{% extends "blog/base.html" %}
{% block title %} Share a post {% endblock %}
{% block content %}
{% if sent %}
<h1>E-mail successfully sent</h1>
<p>
    "{{post.title}}" was successfully sent to {{form.cleaned_data.to}}.
</p>
{% else %}
<h1>
    Share "{{post.title}}"" by e-mail
</h1>
<!-- display the empty form with all the python programmed components -->
<form method="post">
    <!-- Render form elements as p components -->
    {{form.as_p}}
    <!-- Remember to add csrf_token to every form that uses a POST request -->
    {% csrf_token %}
    <input type="submit" value="Send e-mail">
</form>
{% endif %}
{% endblock %}